
.flag-item {
/* margin-right: 0px; */
margin-bottom: 75px;
height: auto;
}

.item-box{
 width: 100%;
/* height: 400px;  */
height: auto;
}

.item-content {
padding: 24px 91px 46px 24px;
}

.card-img {
width: 100%;
height: 200px;
}